@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

#root {
  width: 100vw;
  height: 100vh;
}